import com.the6hours.grails.springsecurity.twitter.TwitterUserDomain
${userImport}

class ${domainClassName} implements TwitterUserDomain {

    int uid
    String screenName
    String tokenSecret
    String token

	static belongsTo = [${userConnectionProperty}: ${userClassName}]

	static constraints = {
		userId unique: true
	}
}
